*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#d5d6d4;
    width: 100%;
    height: 3vm;
}
.cabecalho{
    width: 80%;
    height: 110px;
    background-color: #004aad;
    margin: 0 auto;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.logo{
    font-family: 'Oswald',sans-serif;
    color: white;
    font-size: min(30px,6vw);
    padding: 10px;
    margin: 10px;
}
.logo:hover,.login:hover{
    background-color: white;
    color: #004aad;
    border-radius: 10px;
}
.login{
    list-style: none;
    color: white;
    font-family: 'Oswald',sans-serif;
    font-size: 1,5rem;
    padding: 10px;
    margin: 5px;
    margin-top: 8px;
}/**ate aqui tudo perfeito**/
.areaPrincipal{
    height: 66vw;
    max-height: 835px;
}
main{
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-family: 'Oswald',sans-serif;
    color: white;
    background-color: #004aad;
    padding: 10px;
    font-size: min(2vw,60px);
}
.titulo{
    width: 80%;
    margin: 15px auto 0 auto;
    min-width: 400px;
}
.slider{
    width: 55%;
    min-height: 200px;
    padding: 10px;
}
img{
    width:42vw;
    height: 55vw;
    min-width: 160px;
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
}
.texto{
    min-width: 140px;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    max-height: 550px;
    display: grid;
}
.textoVitrine{
    font-size: min(vw,60px);
    border-radius: 10px;
    text-align: center;
}
p{
    color: #004aad;
    font-family: 'Oswald',sans-serif;
    font-size: min(2vw,60px);
    text-align: justify;
    padding: 0 15px;
}
.pricetag{
    font-size: min(3vw,70px);
    text-align: center;
}
.buy{
    color: white;
    background-color: #004aad;
    padding:10px;
    font-size: min(3vw,70px);
    font-family: 'Oswald',sans-serif;
    border-radius: 10px;
    text-align: center;
}
.buy:hover{
    color: white;
    background-color: black;
}
.box{
    width: 80%;
    margin: 0 auto;
}
.games{
    width: 25vw;
    min-width: 50px;
    height: 32vw;
    position: relative;
    margin: 5px 0;
    border-radius: 10px;
}
.botao{
    height:32vw;
    min-width: 50px;
    margin:5px;
    width: 25vw;
    border-radius: 10px;
}
.verMais{
    height:32vw;
    width: 25vw;
    border-radius: 10px;
}
